<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="javascripts/books.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
